@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap');

.containerHero {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerHero__wrapper {
    height: 100%;
    width: 90%;
    display: flex;
}

.containerHero__heroImage {
    height: 100%;
    width: 50%;
}

.containerHero__heroImage-vector1 {
    position: absolute;
    left: -10px;
    top: -10px;
    filter: blur(20px);
}

.containerHero__heroImage-img {
    width: 477px;
    height: 700px;
    position: absolute;
    top: -120px;
}

.containerHero__heroImage-vector2 {
    position: absolute;
    left: 230px;
    top: 30px;
    filter: blur(10px);
    transition: all 2s;
}

.-move {
    transform: translateX(50px);
}

.container__heroText {
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__heroText-titleText {
    font-size: 5rem;
    font-family: 'Bai Jamjuree', sans-serif;
    margin-bottom: 20px;
}

.container__heroText-description {
    font-weight: 700;
    margin: 20px 0;
    font-size: large;
}

.container__heroText-button {
    width: 200px;
    height: 35px;
    background: linear-gradient(180deg, #FB0AFF 0%, #AFC8FA 91.15%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.containerHero__textRoll {
    width: 100%;
    height: 70px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(50px);
}

.containerHero__textRoll__content {
    width: 90%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-left: 2px #fff solid;
    border-right: 2px #fff solid;
}

.containerHero__textRoll-items {
    position: absolute;
    width: 2000px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;

}

.containerHero__textRoll-item {
    min-width: 50px;
}

@media only screen and (max-width: 1050px) {
    .containerHero {
        position: relative;
        width: 100%;
        height: 75vh;
        display: flex;
    }

    .containerHero__wrapper {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }

    .containerHero__heroImage {
        display: none;
    }

    .container__heroText {
        min-width: 70%;
    }

    .container__heroText-titleText  {
        font-size: 2rem;
    }

    .container__heroText-description {
        width: 100%;
        font-weight: 500;
        margin-top: 0;
    }
}