.containerMenu {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: #C4C4C4 3px solid;
    border-bottom: #C4C4C4 3px solid;
}

.containerMenu__wrapper {
    display: flex;
    height: 100%;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.containerMenu__rightWrapper {
    display: flex;
    align-items: center;
}

.containerMenu__logo-text {
    font-size: 2rem;
    cursor: pointer;
}

.containerMenu__logIn-text {
    font-size: 1.5rem;
    cursor: pointer;
}

.containerMenu__form {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.containerMenu__form-input {
    border: none;
    border-bottom: 2px solid #C4C4C4;
    font-size: 1.2rem;
    outline: none;
}

.containerMenu__form-searchSymbol {
    width: 23px;
    height: 23px;
    opacity: 50%;
    cursor: pointer;
}

.containerMenu:before {
    content: "";
    width: 1.5px;
    left: 5%;
    top: 0;
    height: 100vh;
    position: absolute;
    background-color: black;
}

.containerMenu:after {
    content: "";
    width: 1.5px;
    right: 5%;
    top: 0;
    height: 100vh;
    position: absolute;
    background-color: black;
}

@media only screen and (max-width: 570px) {
    .containerMenu__form-searchSymbol {
        width: 19px;
        height: 19px;
    }

    .containerMenu__form-input {
        font-size: 0.9rem;
        max-width: 120px;
    }

    .containerMenu__form {
        margin-right: 1rem;
    }

    .containerMenu__logo-text {
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .containerMenu__logIn-text {
        font-size: 1rem;
        cursor: pointer;
    }
  }