.containerQuestionnaire {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(153.67deg, #E548D7 10.92%, #679AFF 38.64%, rgba(255, 255, 255, 0.51) 80.62%, rgba(255, 255, 255, 0.51) 96.91%);
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-left: 2px black solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.--black {
    background: linear-gradient(180deg, #000000 74.22%, #1DB954 108.39%);
}


.containerQuestionnaire-text {
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
}

.containerGeneratePlaylist {
    width: 60%;
    margin: auto 0;
    margin-top: 1.5rem; 
    color: #fff;
    height: 100%;
    overflow-y: scroll;
}

.conatinerGeneratePlaylist__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.conatinerGeneratePlaylist__title-text {
    font-size: 2.5rem;
}

.conatinerGeneratePlaylist__title-button {
    border-radius: 3rem;
    font-size: 2rem;
    padding: 0 2rem 0 2rem;
    border: none;
    background-color: #1DB954;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: none;
}

.conatinerGeneratePlaylist__title-button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 3rem;
    box-shadow: 0px 0px 3px 5px #1db954cb,
                0px 0px 5px 5px rgba(29, 185, 84, 0.664);
    opacity: 0;
    transition: 0.3s ease-in;
}

.conatinerGeneratePlaylist__title-button:hover::before {
    opacity: 1;
}

.conatinerGeneratePlaylist__text {
    color: #1DB954;
    text-align: center;
}

.containerGeneratePlaylist::-webkit-scrollbar {
    display: none; 
}

.containerQuestionnaire__questionnaireWrapper {
    width: 70%;
    min-height: 70%;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.containerQuestionnaire__questionnaireWrapper-text {
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
    font-weight: 500;
    width: 80%;
}

.containerQuestionnaire__questionnaireWrapper-button {
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    background-color: #679AFF;
    width: 15rem;
    height: 5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.containerQuestionnaire__questionnaireWrapper-questions {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

@media only screen and (max-width: 670px) {
    .containerQuestionnaire-text {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .containerQuestionnaire__questionnaireWrapper {
        width: 90%;
    }

    .containerQuestionnaire__questionnaireWrapper-text {
        font-size: 1.5rem;
    }

    .containerGeneratePlaylist {
        width: 80%;
    }

    .conatinerGeneratePlaylist__title-text {
        font-size: 1.5rem;
    }
    
    .conatinerGeneratePlaylist__title-button {
        font-size: 1.5rem;
        padding: 0 1.5rem 0 1.5rem;
    }
}