@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.containerTopTracks {
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px #000 solid;
    border-right: 2px #000 solid;
    width: 90%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

span {
    letter-spacing: 1rem;
    background: linear-gradient(-45deg, #FB0AFF 0%, #AFC8FA 91.15%);
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.containerTopTrack {
    min-height: 70vh;
    max-height: 120vh;
    overflow-y: scroll;
    width: 50%;
}

.containerTopTrack::-webkit-scrollbar {
    display: none;
}

.containerTopTrack__titleText {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 70px;        
}

.containerTopTrackItem {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    align-items: center;
    margin-top: 2rem;
    cursor: pointer;
}

.containerTopTrackItem:last-child {
    margin-bottom: 2rem;
}

.containerTopTrackItem__content {
    display: flex;
    align-items: center;
    
}

.containerTopTrackItem__content__textWrapper {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.containerTopTrackItem__number {
    font-size: 6.5rem;
    font-weight: 700;
    opacity: .7;
}

.containerTopTrackItem__content-img {
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
}

@media only screen and (max-width: 1050px) {
    .containerTopTracks {
        flex-direction: column;
    }

    .containerTopTrack {
        width: 100%;
    }

    .containerTopTrack__titleText {
        margin-top: 1rem;
        font-weight: 700;
        font-size: 40px; 
    }

    span {
        letter-spacing: .5rem;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}